.mypanel {
	padding: 20px 0px 20px 0px;

}

.image {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

   .image:hover {
      opacity: .5;
      }


h1 strong{
	font-family: Agency FB;
	color:#1975FF;
}

.banner img {
	border: 2px solid #1975FF;
}

h4 strong {
	font-family: Agency FB;
	color:#1975FF;
}
