div h3{
	font-family: Agency FB;
	color:#1975FF;
}

div h4{
	font-family: Agency FB;
	color:#1975FF;
}

div h2{
	font-family: Agency FB;
	color:#1975FF;
}

div .img{
	height: 250;
	width: 370;
	text-align: center;
	padding:5% 0 10% 0;
}

div .me{
	text-align: center;
	padding:5% 0 10% 0;
}
div .me img{
	border-style: solid;
	 border-color: #1975FF;
}
.container {
	
}
