h1 strong{
	font-family: Agency FB;
	color:#1975FF;
}

.container{
	font-family: Agency FB;
	color:#1975FF;
}
.row{

}

.col{
	float: left;
	padding: 10px;
	margin:1%;
	width:31%;
	border 
}

.image {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
   }

   .image:hover {
      opacity: .5;
      }

